@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
}

.nav{
  height: 40px;
  color: #fff;
  padding: 10px; 
  font-size: 18px;
  backdrop-filter: blur(5px); 

}


form {
    max-width: 400px;
    margin: 0 auto;
}

input{
    width: 300px;
    height: 30px;
    margin: 10px;
    padding-left: 5px;
}
textarea{
    width: 302px;
    margin: 10px;
    padding-left: 5px;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

#confirmation {
    color: green;
    text-align: center;
    margin-top: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
img{
    height: 90%;
    width: 100%;
    z-index: 99;
}

.landing-page{
    display: flex;
    flex-wrap: wrap;
    background-image: url("./polygon-scatter-haikei\ \(2\).svg");
    background-size: cover;
}
.left-box{
    width: 600px;
    height: 80vh;
    display: flex;
    justify-content:center ;
    align-items: flex-start;
    flex-direction: column;
    
    padding: 40px;
}
.right-box{
    width: 600px;
    height: 80vh;
    display: flex;
    justify-content:center ;
    align-items: center;
  

}

.head1{
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
h2{
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}


#contact-form {
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
  
    cursor: pointer;
  }
  

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  img {
   background-size: cover;
    transition: transform 0.3s ease;
  }
  
 
  img:hover {
    transform: rotate(10deg) scale(1.2); 
  }
.contact-page{
    display: flex;
    justify-content:center ;
    align-items: flex-start;
    flex-direction: column;
}